# Ignore all env and secret files in all folders
*.env
*.env.*
**/.env
**/.env.*
**/config.js
**/config.ts
**/secrets.*
**/private.*
**/firebase.*
**/aws-exports.js
**/aws-exports.ts
**/google-services.json
**/GoogleService-Info.plist
# Ignore backend environment variables
backend/.env
# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
# dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
